body {
background-color:#000!important;
background-size:cover!important;
font-family:CeraPro,sans-serif
}

@font-face {
font-family:FontAwesome;
font-style:normal;
font-weight:400;
src:url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.eot?v=4.6.3);
src:url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3) format("embeddedopentype"),url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.woff2?v=4.6.3) format("woff2"),url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.woff?v=4.6.3) format("woff"),url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.ttf?v=4.6.3) format("truetype"),url(/files/stores/frontend/template_3/static/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) 
format("svg")
}


@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Light.eot');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Light.woff2') format('woff2'),
        url('CeraPro-Light.woff') format('woff'),
        url('CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-MediumItalic.eot');
    src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'),
        url('CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-MediumItalic.woff2') format('woff2'),
        url('CeraPro-MediumItalic.woff') format('woff'),
        url('CeraPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-RegularItalic.eot');
    src: local('Cera Pro Regular Italic'), local('CeraPro-RegularItalic'),
        url('CeraPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-RegularItalic.woff2') format('woff2'),
        url('CeraPro-RegularItalic.woff') format('woff'),
        url('CeraPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-BlackItalic.eot');
    src: local('Cera Pro Black Italic'), local('CeraPro-BlackItalic'),
        url('CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-BlackItalic.woff2') format('woff2'),
        url('CeraPro-BlackItalic.woff') format('woff'),
        url('CeraPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Medium.woff2') format('woff2'),
        url('CeraPro-Medium.woff') format('woff'),
        url('CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-BoldItalic.eot');
    src: local('Cera Pro Bold Italic'), local('CeraPro-BoldItalic'),
        url('CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-BoldItalic.woff2') format('woff2'),
        url('CeraPro-BoldItalic.woff') format('woff'),
        url('CeraPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-ThinItalic.eot');
    src: local('Cera Pro Thin Italic'), local('CeraPro-ThinItalic'),
        url('CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-ThinItalic.woff2') format('woff2'),
        url('CeraPro-ThinItalic.woff') format('woff'),
        url('CeraPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-LightItalic.eot');
    src: local('Cera Pro Light Italic'), local('CeraPro-LightItalic'),
        url('CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-LightItalic.woff2') format('woff2'),
        url('CeraPro-LightItalic.woff') format('woff'),
        url('CeraPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Black.woff2') format('woff2'),
        url('CeraPro-Black.woff') format('woff'),
        url('CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff'),
        url('CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Regular.woff2') format('woff2'),
        url('CeraPro-Regular.woff') format('woff'),
        url('CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('CeraPro-Thin.eot');
    src: local('Cera Pro Thin'), local('CeraPro-Thin'),
        url('CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Thin.woff2') format('woff2'),
        url('CeraPro-Thin.woff') format('woff'),
        url('CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}






.fa {
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
display:inline-block;
font:normal normal normal 14px/1 FontAwesome;
font-size:inherit;
text-rendering:auto
}

.fa-2x {
font-size:2em
}

.fa-3x {
font-size:3em
}

.fa-4x {
font-size:4em
}

.fa-5x {
font-size:5em
}

.fa-border {
border:solid .08em #eee;
border-radius:.1em;
padding:.2em .25em .15em
}

.fa-fw {
text-align:center;
width:1.28571429em
}

.fa-lg {
font-size:1.33333333em;
line-height:.75em;
vertical-align:-15%
}

.fa-li {
left:-2.14285714em;
position:absolute;
text-align:center;
top:.14285714em;
width:2.14285714em
}

.fa-li.fa-lg {
left:-1.85714286em
}

.fa-pull-left {
float:left
}

.fa-pull-right {
float:right
}

.fa-pulse {
animation:fa-spin 1s infinite steps(8)
}

.fa-spin {
animation:fa-spin 2s infinite linear
}

.fa-ul {
list-style-type:none;
margin-left:2.14285714em;
padding-left:0
}

.fa-ul>li {
position:relative
}

.fa.fa-pull-left {
margin-right:.3em
}

.fa.fa-pull-right {
margin-left:.3em
}

.fa.pull-left {
margin-right:.3em
}

.fa.pull-right {
margin-left:.3em
}

.pull-left {
float:left
}

.pull-right {
float:right
}
/*
body {
background-image:url(https://i.postimg.cc/sDy36MRB/g-Bq-Jz8d-2-1.png)
}*/

body,.customModalWrapper,.customModalOverflow,.ModalLayout-module__overflowWrapper {
scrollbar-color:var(--sb-thumb-color) var(--sb-track-color)
}

body::-webkit-scrollbar,.customModalOverflow::-webkit-scrollbar,.ModalLayout-module__overflowWrapper::-webkit-scrollbar {
width:var(--sb-size)
}

body::-webkit-scrollbar-thumb,.customModalOverflow::-webkit-scrollbar-thumb,.ModalLayout-module__overflowWrapper::-webkit-scrollbar-thumb {
background:var(--sb-thumb-color)
}

body::-webkit-scrollbar-track,.customModalOverflow::-webkit-scrollbar-track,.ModalLayout-module__overflowWrapper::-webkit-scrollbar-track {
background:var(--sb-track-color)
}

@keyframes fa-spin {
0% {
transform:rotate(0)
}

100% {
transform:rotate(359deg)
}
}

.Button-module__btn.Button-module__accent {background-color:#f8ad1b;border:1px solid #f6b324;border-radius:15px;color:#fff;}

.Button-module__btn.Button-module__accent:hover {
background-color:#340d7a;
border-color:#340d7a;
color:#383838;
transition:all .3s ease
}

.Button-module__btn.Button-module__gray {
background:rgba(255,255,255,.1);
border:1px solid #20202000;
border-radius:15px;
color:rgba(255,255,255,.7)
}

.Categories-module__category.Categories-module__active {
background: linear-gradient(to left,#340d7a 0,#7136aa 100%);
border:none;
color:#fff;
font-weight:400;
transform:scale(1.10)
}

.Categories-module__category.Categories-module__enableFocus:focus {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
color:#fff
}

.Categories-module__enableFocus {
background:rgba(255,255,255,.1);
border-radius:7.5px;
color:rgba(255,255,255,.7);
margin-left:5px
}

.Categories-module__enableFocus:hover {
background:rgba(255,255,255,.2);
color:rgba(255,255,255,.7);
transform:scale(1)
}

.DesktopCopyright-module__link {
color:#cda640;
font-size:14px;
font-weight:700;
line-height:1
}

.DesktopCopyright-module__wrapper {
background:var(--bg-color-900)!important;
border-radius:0 10px 0 0!important;
bottom:0!important;
font-size:14px;
left:0!important;
padding:7px!important
}

.Header-module__wrapper {
-webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
align-items:center;
background:#22005fab;
border-radius:10px;
display:flex;
flex-wrap:wrap;
font-weight:500;
margin-bottom:20px;
min-height:60px;
padding:0 15px;
width:100%
}

.LangSwitcher-module__currentLang {
align-items:center;
cursor:pointer;
display:flex;
justify-content:center;
padding:0
}

.LangSwitcher-module__lang:hover,.LangSwitcher-module__lang:focus {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
color:#292b2c
}

.LangSwitcher-module__list {
background:#262626;
border:1px solid #f2c035;
border-radius:10px
}

.PlayerBalance-module__btn,.HeaderNav-module__link,.LangSwitcher-module__btn,.PlayerMenu-module__loginLink {
align-items:center;
border-radius:10px;
cursor:pointer;
display:flex;
font-size:13pt;
font-weight:600;
justify-content:center;
max-height:40px;
padding:10px;
transition:all .1s ease;
white-space:nowrap
}

.PlayerBalance-module__btn:focus,.HeaderNav-module__link:focus,.LangSwitcher-module__btn:focus,.PlayerMenu-module__loginLink:focus {
background:transparent;
color:inherit
}

.PlayerBalance-module__btn:hover,.HeaderNav-module__link:hover,.LangSwitcher-module__btn:hover,.PlayerMenu-module__loginLink:hover {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
color:#292b2c!important
}

.Product-module__discount {
background: linear-gradient(to right,#f90 0,#f1c339 100%);
color:#fff;
padding:0 20%;
text-shadow:0 0 5px #08c;
transform:rotate(45deg) translateY(-30%) translateX(25%)
}

.Product-module__name {
font-size:14px;
text-align:center;
text-shadow:0 0 8px #000;
transition:all .4s
}

.Product-module__price {
background: #6b00bd;

}

.Product-module__wrapper {
background:#dfdfdf12;
border-radius:10px;
box-shadow:0 0 5px 0 rgba(0 0 0 / 95%);
transition:all .2s
}

.Product-module__wrapper:hover {
-moz-transform:scale(1.07);
-o-transform:scale(1.07);
-webkit-transform:scale(1.07);
box-shadow:0 0 40px 0 #ae82ff;
transform:scale(1.07)
}

.Product-module__wrapper:hover .Product-module__name {
backface-visibility:hidden;
background:linear-gradient(to right,#340d7a 0,#7136aa 100%);
border-radius:0 0 10px 10px;
opacity:1;
padding:1px 10px
}

.ProductModal-module__header {
align-items:center;
color:#bbb;
display:flex;
font-size:26px;
font-weight:700;
justify-content:center;
text-transform:uppercase
}

.ProductModal-module__roulette {
background:#262626;
border-radius:20px
}

.ProductModal-module__roulette .TotalSum-module__label {
display:none
}

.ProductModal-module__roulette .boxBody {
background:#262626
}

.ProductModal-module__roulette .boxFooter {
background:#262626;
border-radius:20px
}

.ProductModal-module__roulette .boxHeader {
background:#262626;
border-radius:20px
}

.Products-module__wrapper {
margin-top:40px
}

.RouletteContent-module__line {
margin-left:-61px
}

.RouletteContent-module__lineWrapper {
-webkit-mask-image:linear-gradient(to left,rgba(255,255,255,0) 5%,#000 35%,#000 65%,rgba(255,255,255,0) 95%);
background:#262626;
margin-bottom:15px
}

.RouletteContent-module__rouletteItem {
background:transparent
}

.RouletteContent-module__rouletteItemImg {
background:#333;
border-radius:35px;
box-shadow:5px 5px 10px rgba(0,0,0,0.05);
height:240px;
overflow:hidden;
padding:25px;
transform:scale(0.9);
width:240px
}

.RouletteContent-module__rouletteItemInfo {
color:#e8e8e8;
font-size:16px
}

.RouletteContent-module__triangle.RouletteContent-module__bottom {
display:none
}

.RouletteContent-module__triangle.RouletteContent-module__top {
animation-duration:2s;
animation-iteration-count:infinite;
animation-name:bounce-2;
animation-timing-function:ease;
border-left:18px solid transparent;
border-right:18px solid transparent;
border-top:20px solid #bbb
}

.Search-module__iconWrapper {
background:rgba(255,255,255,.08);
border-radius:15px 0 0 15px
}

.Search-module__input {
background: rgb(255 255 255 / 16%);
border-radius:0 15px 15px 0;
color:rgba(255,255,255,.7)
}

.Search-module__input:focus {
background:rgba(255,255,255,.08)
}

.Search-module__wrapper {
background:none
}

.Shop-module__wrapper .boxBody {
border-radius:10px 10px 0 0
}

.Shop-module__wrapper .boxFooter {
border-radius:0 0 10px 10px
}

.ShopFooter-module__link {
color:#8f8f8f;
font-size:12px;
font-weight:700;
line-height:1;
text-transform:uppercase
}

.ShopFooter-module__link:focus {
color:#cda640
}

.ShopFooter-module__link:hover {
color:#cda640
}

.TotalSum-module__currency {
background:rgba(255,255,255,.08)
}

.TotalSum-module__input {
background:rgba(255,255,255,.04)
}

.TotalSum-module__inputWrapper {
border-radius:15px;
color:rgba(255,255,255,.7)
}

.avatar-link {
border-radius:50%;
display:inline-block;
transition:box-shadow .3s ease
}

.avatar-link:hover {
box-shadow:0 0 0 3px #7136aa
}

.fa-flip-horizontal {
transform:scale(-1,1)
}

.fa-flip-vertical {
transform:scale(1,-1)
}

.fa-inverse {
color:#fff
}

.fa-rotate-180 {
transform:rotate(180deg)
}

.fa-rotate-270 {
transform:rotate(270deg)
}

.fa-rotate-90 {
transform:rotate(90deg)
}

.fa-stack {
display:inline-block;
height:2em;
line-height:2em;
position:relative;
vertical-align:middle;
width:2em
}

.fa-stack-1x {
line-height:inherit
}

.fa-stack-1x,.fa-stack-2x {
left:0;
position:absolute;
text-align:center;
width:100%
}

.fa-stack-2x {
font-size:2em
}

.flag-icon {
display:inline-block;
height:auto;
vertical-align:middle;
width:20px
}

.flag-icon-selected {
display:flex;
height:auto;
width:25px
}

.navbar-brand {
010px010pxmargin-left:-5px;
font-weight:600;
height:100%;
width:0
}

.navbar-brand::before {
color:#f8ae1d;
content:'\1F63B';
font-family:FontAwesome;
font-size:24px;
margin-right:6px;
padding:10px
}

.productModalContainsItem {
background:rgba(255,255,255,.08);
border-radius:10px
}

.productModalContainsTitle {
display:none
}

.productModalGiveText {
color:#e57373
}

.productModalItemCount {
color:var(--greyple);
font-size:13px;
line-height:18px
}

.productModalItemName {
color:#e8e8e8;
font-size:15px;
font-weight:600;
line-height:20px
}

:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90 {
-webkit-filter:none;
filter:none
}

:root[data-theme] {
--accent-color-800:rgb(255 255 255);
--accent-color-900:rgb(255 255 255);
--background-color:rgb(24 24 27 / 31%);
--bg-color-700:#49494936;
--bg-color-900:#49494936;
--card-background-color:rgba(255,255,255,.015);
--card-border-color:rgba(255,255,255,0.1);
--card-box-shadow-1:rgba(0,0,0,0.05);
--card-box-shadow-1-blur:6px;
--card-box-shadow-1-y:3px;
--card-box-shadow-2:rgba(0,0,0,0.1);
--card-box-shadow-2-blur:15px;
--card-box-shadow-2-y:8px;
--card-hover-border-color:rgba(255,255,255,0.2);
--card-hover-box-shadow-1:rgba(0,0,0,0.04);
--card-hover-box-shadow-1-blur:10px;
--card-hover-box-shadow-1-y:5px;
--card-hover-box-shadow-2:rgba(0,0,0,0.3);
--card-hover-box-shadow-2-blur:25px;
--card-hover-box-shadow-2-y:15px;
--card-hover-icon-background-color:rgb(106 98 72 / 37%);
--card-hover-icon-border-color:rgb(255 214 0 / 81%);
--card-hover-icon-color:#ff0000bd;
--card-icon-background-color:rgba(255,255,255,0.08);
--card-icon-border-color:rgba(255,255,255,0.12);
--card-icon-color:#D4D4D8;
--card-label-color:#FFFFFF;
--card-line-color:#2A2B2C;
--card-shine-gradient:conic-gradient(from 205deg at 50% 50%,rgba(16,185,129,0) 0deg,#ff7912 25deg,rgba(52,211,153,0.18) 295deg,rgba(16,185,129,0) 360deg);
--card-shine-opacity:.1;
--card-tile-color:rgb(227 184 12 / 29%);
--default-font-family:CeraPro;
--font-color-800:rgb(255 255 255);
--sb-size:10px;
--sb-thumb-color:#f8ae1d;
--sb-track-color:#262626;
--text-color:#A1A1AA
}

@keyframes bounce-2 {
0% {
transform:translateY(0)
}

100% {
transform:translateY(0)
}

50% {
transform:translateY(-10px)
}
}

.CountSelector-module__inputWrapper {
border-radius:15px
}

.CountSelector-module__inputWrapper .CountSelector-module__changeCountBtn {
background:rgba(255,255,255,.08);
border:none
}

.CountSelector-module__inputWrapper .CountSelector-module__changeCountBtn:hover {
background:#41414140
}

.CountSelector-module__inputWrapper .CountSelector-module__input {
background:rgba(255,255,255,.04)
}

.KitContent-module__containsItem {
background:#333;
border-radius:15px;
box-shadow:unset;
color:rgba(255,255,255,.7);
cursor:pointer;
margin:-8px 2px 8px;
overflow:hidden;
position:relative;
text-align:center;
transform:rotate(0deg);
transition:all .3s
}

.KitContent-module__containsItem .KitContent-module__itemCount {
background:unset;
border-radius:10px;
bottom:8px;
color:rgba(255,255,255,.7);
font-weight:700;
right:10px;
text-align:end;
z-index:1
}

.KitContent-module__containsItem .KitContent-module__itemImg {
padding:10px
}

.KitContent-module__containsItem .KitContent-module__itemName {
background:transparent;
font-size:17px;
font-weight:700;
text-align:center;
text-overflow:ellipsis;
text-shadow:0 0 4px rgba(0,0,0,.4)
}

.KitContent-module__containsItem:hover {
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1)
}

.KitContent-module__containsItems {
grid-template-columns:repeat(auto-fill,minmax(150px,1fr))
}

.ModalLayout-module__modal {
background:#262626;
border-radius:20px;
box-shadow:0 0 100px #5719c9
}

.PlayerBalance-module__modal {
width:320px
}

.PlayerBalance-module__modal .Button-module__accent {
background:#212121;
border-color:#212121;
border-radius:10px
}

.PlayerBalance-module__modal .Button-module__accent:hover {
background-color:#340d7a;
border-color:#340d7a;
color:#383838;
transition:all .3s ease
}

.PlayerBalance-module__modal .PlayerBalanceModal-module__header {
justify-content:center
}

.PlayerBalance-module__modal .boxBody {
background:#262626
}

.PlayerBalance-module__modal .boxFooter {
background:#262626;
border-radius:20px
}

.PlayerBalance-module__modal .boxHeader {
background:#262626;
border-radius:20px
}

.PlayerBalanceModal-module__currency {
background:rgba(255,255,255,.08)
}

.PlayerBalanceModal-module__inputWrapper {
background:rgba(255,255,255,.04);
border-radius:10px
}

.ProductModal-module__set .boxHeader,.ProductModal-module__set .boxBody,.ProductModal-module__set .boxFooter {
background:transparent
}

.ProductModal-module__set .productModalDescription {
-webkit-box-pack:center;
background-color:#262626;
border-radius:2px;
display:flex;
flex-flow:row wrap;
justify-content:center;
margin:5px 0;
padding:0
}

.card {
background-color:var(--background-color);
border-radius:15px;
box-shadow:0 var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1),0 var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2),0 0 0 1px var(--card-border-color);
cursor:pointer;
margin-bottom:30px;
padding:10px 10px 10px 20px;
position:relative;
transition:box-shadow .25s
}

.card .background {
-webkit-mask-image:radial-gradient(circle at 60% 5%,black 0%,black 15%,transparent 60%);
border-radius:inherit;
inset:0;
mask-image:radial-gradient(circle at 60% 5%,black 0%,black 15%,transparent 60%);
overflow:hidden;
position:absolute
}

.card .background .tiles {
opacity:0;
transition:opacity .25s
}

.card .background .tiles .tile {
-webkit-animation-duration:8s;
-webkit-animation-iteration-count:infinite;
animation-duration:8s;
animation-iteration-count:infinite;
background-color:var(--card-tile-color);
opacity:0;
position:absolute
}

.card .background .tiles .tile.tile-1 {
height:10%;
left:0;
top:0;
width:22.5%
}

.card .background .tiles .tile.tile-10 {
height:22.5%;
left:77.5%;
top:32.5%;
width:22.5%
}

.card .background .tiles .tile.tile-2 {
height:10%;
left:22.5%;
top:0;
width:27.5%
}

.card .background .tiles .tile.tile-2,.card .background .tiles .tile.tile-9 {
-webkit-animation-delay:-6s;
animation-delay:-6s
}

.card .background .tiles .tile.tile-3 {
height:10%;
left:50%;
top:0;
width:27.5%
}

.card .background .tiles .tile.tile-3,.card .background .tiles .tile.tile-5,.card .background .tiles .tile.tile-8 {
-webkit-animation-delay:-4s;
animation-delay:-4s
}

.card .background .tiles .tile.tile-4 {
height:10%;
left:77.5%;
top:0;
width:22.5%
}

.card .background .tiles .tile.tile-4,.card .background .tiles .tile.tile-6,.card .background .tiles .tile.tile-10 {
-webkit-animation-delay:-2s;
animation-delay:-2s
}

.card .background .tiles .tile.tile-5 {
height:22.5%;
left:0;
top:10%;
width:22.5%
}

.card .background .tiles .tile.tile-6 {
height:22.5%;
left:22.5%;
top:10%;
width:27.5%
}

.card .background .tiles .tile.tile-7 {
height:22.5%;
left:50%;
top:10%;
width:27.5%
}

.card .background .tiles .tile.tile-8 {
height:22.5%;
left:77.5%;
top:10%;
width:22.5%
}

.card .background .tiles .tile.tile-9 {
height:22.5%;
left:50%;
top:32.5%;
width:27.5%
}

.card .icon {
display:table;
padding:8px;
position:relative;
z-index:2
}

.card .icon svg {
color:var(--card-icon-color);
display:block;
height:24px;
position:relative;
transform:translateZ(0);
transition:color .25s;
width:24px;
z-index:1
}

.card .icon::after {
-webkit-backdrop-filter:blur(2px);
backdrop-filter:blur(2px);
background-color:var(--card-icon-background-color);
border:1px solid var(--card-icon-border-color);
border-radius:10px;
content:"";
inset:1.5px;
position:absolute;
transition:background-color 0.25s,border-color .25s
}

.card .shine {
border-radius:inherit;
inset:0;
opacity:0;
overflow:hidden;
position:absolute;
transition:opacity .5s;
z-index:1
}

.card .shine:before {
background-image:var(--card-shine-gradient);
border-radius:50%;
bottom:55%;
content:"";
filter:blur(35px);
left:50%;
opacity:var(--card-shine-opacity);
padding-bottom:150%;
position:absolute;
transform:translateX(-50%);
width:150%
}

.card h4 {
color:var(--card-label-color);
font-family:inherit;
font-size:14px;
font-weight:600;
line-height:2;
margin:12px 0 4px;
position:relative;
z-index:2
}

.card p {
color:var(--text-color);
font-size:14px;
line-height:1.7;
margin:0;
position:relative;
z-index:2
}

.card::before {
background-color: #4a2c81c4;
border-radius:15px;
content:"";
inset:0;
position:absolute
}

.grid {
grid-gap:32px;
grid-template-columns:repeat(2,240px);
margin-top:30px;
position:relative;
z-index:1
}

@-webkit-keyframes tile {
0%,12.5%,100% {
opacity:1
}

25%,82.5% {
opacity:0
}
}

@keyframes tile {
0%,12.5%,100% {
opacity:1
}

25%,82.5% {
opacity:0
}
}

.btn-secondary {
background:rgba(0,0,0,.19);
border-color:transparent;
color:rgba(255,255,255,.81);
outline:0!important;
padding:7px 13px
}

.btn-secondary.active,.btn-secondary:active,.show>.btn-secondary.dropdown-toggle {
-webkit-box-shadow:none;
background:linear-gradient(to right,#340d7a 0,#7136aa 100%);
border-color:#0a0a0a;
color:#fff;
transform:scale(1.15)
}

.btn.btn-secondary {
background-color:#1c1c1c;
border-radius:15px;
color:white;
font-size:12px
}

.btn.btn-secondary:hover {
box-shadow:none;
color:white
}

.card .background .line {
inset:0;
opacity:0;
position:absolute;
transition:opacity .35s
}

.card .background .line.line-1:after {
left:22.5%
}

.card .background .line.line-1:before {
top:10%
}

.card .background .line.line-1:before,.card .background .line.line-1:after {
transition-delay:.3s
}

.card .background .line.line-2:after {
left:50%
}

.card .background .line.line-2:before {
top:32.5%
}

.card .background .line.line-2:before,.card .background .line.line-2:after {
transition-delay:.15s
}

.card .background .line.line-3:after {
right:22.5%
}

.card .background .line.line-3:before {
top:55%
}

.card .background .line:after {
bottom:0;
top:0;
transform:scaleY(0);
transform-origin:50% 0;
width:1px
}

.card .background .line:before {
height:1px;
left:0;
right:0;
transform:scaleX(0);
transform-origin:0 50%
}

.card .background .line:before,.card .background .line:after {
background-color:var(--card-line-color);
content:"";
position:absolute;
transition:transform .35s
}

.card:hover {
box-shadow:0 3px 6px var(--card-hover-box-shadow-1),0 var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2),0 0 0 1px var(--card-hover-border-color)
}

.card:hover .background .line {
opacity:1;
transition-duration:.15s
}

.card:hover .background .line.line-1:before,.card:hover .background .line.line-1:after {
transition-delay:0s
}

.card:hover .background .line.line-2:before,.card:hover .background .line.line-2:after {
transition-delay:.15s
}

.card:hover .background .line.line-3:before,.card:hover .background .line.line-3:after {
transition-delay:.3s
}

.card:hover .background .line:after {
transform:scaleY(1)
}

.card:hover .background .line:before {
transform:scaleX(1)
}

.card:hover .background .tiles {
opacity:1;
transition-delay:.25s
}

.card:hover .background .tiles .tile {
-webkit-animation-name:tile;
animation-name:tile
}

.card:hover .icon svg {
color:var(--card-hover-icon-color)
}

.card:hover .icon::after {
background-color:var(--card-hover-icon-background-color)
}

.card:hover .shine {
opacity:1;
transition-delay:0s;
transition-duration:.5s
}

.store-categories .btn {
border:none!important;
margin-bottom:5px;
margin-right:5px;
transition:all .2s ease-in-out
}

.store-categories .btn.active {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
border:none;
color:#fff;
font-weight:400;
transform:scale(1.15)
}

.store-categories .btn.active:hover {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
border:none;
color:#fff!important;
font-weight:400;
transform:scale(1.15)!important
}

.store-categories .btn:hover {
background:rgba(255,255,255,.2);
color:rgba(255,255,255,.7);
transform:scale(1)!important
}

.store-categories>.btn {
border-radius:7.5px;
margin-bottom:5px
}

.store-categories>.btn+.btn {
border-radius:7.5px;
margin-left:5px
}

@media (min-width: 768px) {
.store-categories {
flex-direction:row;
flex-wrap:wrap;
margin-bottom:16px
}
}

.BasketSearch-module__iconWrapper {
background:rgba(255,255,255,.08)
}

.BasketSearch-module__wrapper {
border-radius:15px
}

.BasketTable-module__tableLine,.BasketTable-module__tableHeader {
border-bottom:1px solid #292c2e;
padding:9px 12px
}

.BasketTable-module__tableLine:nth-child(2n-1) {
background-color:transparent
}

.BasketTable-module__tableTitle {
color:#f7f6f6
}

.HistorySearch-module__iconWrapper {
background:rgba(255,255,255,.08)
}

.HistorySearch-module__wrapper {
border-radius:15px
}

.HistoryTable-module__tableLine,.HistoryTable-module__tableHeader {
border-bottom:1px solid #292c2e;
padding:9px 12px
}

.HistoryTable-module__tableLine:nth-child(2n-1) {
background-color:transparent
}

.HistoryTable-module__tableTitle {
color:#f7f6f6
}

.Pagination-module__page:hover,.Pagination-module__page.Pagination-module__active,.Pagination-module__page:focus {
color:#cda640
}

.ProfileContent-module__infoLineValue.ProfileContent-module__steamid {
color:#cda640
}

.ProfileContent-module__infoLineValue.ProfileContent-module__steamid:hover {
color:#f8ad1b
}

.ProfileNav-module__wrapper .ProfileNav-module__logOut {
background-color:#d9534f;
border:1px solid #d9534f
}

.ProfileNav-module__wrapper .ProfileNav-module__logOut:hover {
background-color:#c9302c;
border-color:#ac2925;
color:#fff
}

.block_by_category .kit-item {
align-items:center;
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 20%) 100%);
border-radius:8px;
display:flex;
flex-direction:column;
height:80px;
margin:8px;
width:80px
}

.block_by_category:before {
color:#e9eaec;
display:block;
font-size:16px;
overflow:hidden;
text-align:center;
text-overflow:ellipsis;
text-transform:uppercase;
white-space:nowrap;
width:100%
}

.block_category_10 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%);
border-radius:0 20px 20px 0
}

.block_category_10:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
border-radius:0 5px 5px 0;
content:"28 ЧАСОВ"
}

.block_category_1:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
border-radius:5px 0 0 5px;
content:"2 ЧАСА"
}

.block_category_2 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%)
}

.block_category_2:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"4 ЧАСА"
}

.block_category_3 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%)
}

.block_category_3:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"10 ЧАСОВ"
}

.block_category_4 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%)
}

.block_category_4:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"14 ЧАСОВ"
}

.block_category_5 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%)
}

.block_category_5:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"20 ЧАСОВ"
}

.block_category_6 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%)
}

.block_category_6:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"24 ЧАСА"
}

.block_category_7 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%);
border-radius:0 20px 20px 0
}

.block_category_7:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
content:"28 ЧАСОВ"
}

.block_category_8 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%);
border-radius:0 20px 20px 0
}

.block_category_8:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
border-radius:0 5px 5px 0;
content:"48 ЧАСОВ"
}

.block_category_9 {
background:linear-gradient(180deg,#1c1d18 0%,#2d261a 100%);
border-radius:0 20px 20px 0
}

.block_category_9:before {
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 40%) 100%);
border-radius:0 5px 5px 0;
content:"28 ЧАСОВ"
}

.customModalContent {
background:linear-gradient(180deg,#1d1b18 0%,#2d261a 100%);
border-radius:20px;
box-shadow: 0 0 100px #5719c9;
color:white;
padding:10px;
width:900px
}

.customModalContent .boxBody {
background:transparent;
font-size:14px;
line-height:1.42857143;
padding:15px;
position:relative
}

.customModalContent .boxFooter {
background:transparent
}

.customModalContent .boxHeader {
background:transparent;
font-size:40px;
margin-bottom:15px;
text-align:center
}

.customModalPosition {
backdrop-filter:blur(5px)
}

.gs-loader {
backdrop-filter:blur(5px);
background-color:transparent
}

.gs-loader__spinner {
animation:float 1s ease-in-out infinite;
background:url(https://i.ibb.co/8c7tWdK/Y92e59st-Av4.png) no-repeat;
border:none;
height:100px;
margin-top:0;
width:100px
}

.kit-item {
align-items:center;
background:linear-gradient(180deg,rgba(41,41,58,0) 0%,rgb(99 89 68 / 20%) 100%);
border-radius:8px;
display:flex;
flex-direction:column;
height:80px;
margin:8px;
width:80px
}

.kit-item:hover {
transform:scale(1.1);
transition:transform 200ms cubic-bezier(0.68,-0.55,0.27,1.55)
}

.kit-item__image {
transform:scale(0.9);
width:100%
}

.kit-item__quantity {
border-radius:0 0 15px 15px;
font-size:12px;
position:relative;
top:-20px
}

.kit-items {
-ms-flex-flow:row wrap;
-ms-flex-pack:center;
-webkit-box-direction:normal;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
flex-flow:row wrap;
justify-content:center
}

.modal-open {
overflow:hidden
}

.modal-open .modal {
background-size:cover;
overflow-x:hidden
}

.serverheader {
border-radius:15px;
font-size:20px;
margin-bottom:10px;
margin-top:20px
}

.serverheader span {
animation:gradient 5s ease infinite;
background:linear-gradient(90deg,#E82F4E,#6e2fe8,#2372d5,#2cd9aa);
background:linear-gradient(90deg,#b58f54,#e8a92f,#b59c54,#e8ca2f);
background-size:400% 400%;
border-radius:20px;
border-radius:7px;
color:white;
color:white;
font-size:15px;
font-size:15px;
padding:2px 12px;
padding:2px 12px 2px 12px;
text-transform:uppercase;
text-transform:uppercase;
transform:translate3d(0,0,0)
}

.serverheader span:before {
content:'\f017';
font-family:FontAwesome;
font-weight:100;
margin-right:5px
}

.unbancolor {
color:#cda640
}

.xbox_custom_rules li {
margin-bottom:10px
}

.xbox_custom_rules p {
margin:0 0 10px
}

.xbox_custom_rules ul {
list-style-type:disc;
margin-left:0;
padding-left:20px
}

@keyframes float {
0% {
transform:translatey(0px)
}

100% {
transform:translatey(0px)
}

50% {
transform:translatey(-30px)
}
}

.container-oplata .tooltiptext1 {
background-color:rgba(0,0,0,0.5);
border-radius:6px;
color:#fff;
left:105%;
opacity:0;
padding:10px;
position:absolute;
text-align:center;
transition:opacity 220ms ease-out;
visibility:hidden;
width:170px;
z-index:1
}

.container-oplata .tooltiptext1::after {
border-color:transparent rgba(0,0,0,0.5) transparent transparent;
border-style:solid;
border-width:5px;
content:"";
margin-top:-5px;
position:absolute;
right:100%;
top:50%
}

.container-oplata:hover .tooltiptext1 {
opacity:1;
visibility:visible
}

.priv_discount {
background:#1b1b1b;
border-radius:0 10px 0 10px;
color:white;
cursor:help;
font-size:14px;
font-weight:400;
opacity:1;
padding:0 8px 0 10px;
position:absolute;
right:0;
top:0;
z-index:3
}

.priv_discount2 {
background:rgba(33,33,33,0.5);
border-radius:0 10px 0 10px;
color:white;
cursor:help;
font-size:14px;
font-weight:400;
opacity:1;
padding:0 8px 0 10px;
position:absolute;
right:0;
top:0;
z-index:3
}

.productModalDescription .container-oplata {
background:#333;
border-radius:12px;
cursor:pointer;
display:-webkit-inline-box;
height:50px;
margin-bottom:5px;
padding:5px;
right:-21110px;
text-align:initial;
transform:scale(1);
transition:all .2s ease-out;
width:100%
}

.productModalDescription .container-oplata {
display:flex
}

.productModalDescription .container-oplata:hover {
transform:scale(0.95)
}

.productModalDescription .container-oplata:last-child {
margin-bottom:0!important;
right:-11120px
}

.productModalDescription .icon-user-oplata {
-ms-flex:0 0 auto;
-webkit-box-flex:0;
border-radius:0;
flex:0 0 auto;
height:30px!important;
margin:5px;
margin-right:10px!important;
width:30px!important
}

.productModalDescription .textContainer-oplata {
-ms-flex:1;
-ms-flex-direction:column;
-ms-flex-pack:justify;
-webkit-box-direction:normal;
-webkit-box-flex:1;
-webkit-box-orient:vertical;
-webkit-box-pack:justify;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
flex:1;
flex-direction:column;
justify-content:space-evenly;
overflow:hidden
}

@media only screen and (max-width: 767px) {
.container-oplata .tooltiptext1 {
left:24%;
top:-160%
}

.container-oplata .tooltiptext1::after {
border-color:rgba(0,0,0,0.5) transparent transparent;
border-style:solid;
border-width:5px;
content:"";
margin-top:-5px;
position:absolute;
right:50%;
top:105%
}
}

.ProductModal-module__dropdown .boxHeader,.ProductModal-module__dropdown .boxBody,.ProductModal-module__dropdown .boxFooter,.ProductModal-module__dropdown .productModalDescription {
background:transparent
}

@media (min-width: 768px) {
.ProductModal-module__dropdown {
width:590px
}

.ProductModal-module__dropdown .ProductModal-module__form {
order:3;
padding:10px;
width:60%
}

.ProductModal-module__dropdown .SelectContent-module__selectorWrapper {
max-width: 40%;
min-width:40%;
order:2;
padding-top:10px
}

.ProductModal-module__dropdown .boxBody {
align-items:flex-start;
display:flex;
flex-wrap:wrap;
justify-content:center
}

.ProductModal-module__dropdown .productModalDescription {
order:0;
}

.ProductModal-module__dropdown .productModalGiveText {
order:4
}

.ProductModal-module__dropdown .productModalImg {
height:40%;
margin:auto;
order:0;
width:40%
}
}

#xbox_button {
height:50px;
margin:1px auto 0;
width:50px
}

.DL-Social-box {
align-items:center;
border-radius:15px;
display:flex;
justify-content:space-around;
padding:20px 15px;
background: #4a2c81c4;
}

.DL-Social-link {
border-radius:10px;
display:flex;
justify-content:center;
padding:.2rem;
width:40%
}

.DS {
background-color:#7289da;
transition:all .2s
}

.DS:hover {
background-color:#677bc4;
transform:scale(1.13)
}

.MonitoringServer-module__name {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 41px;
    margin-bottom: 10px;
}

.MonitoringServer-module__progressBar {
  border-radius: 20px;
  background: linear-gradient(to right, #aa63ef 0%, #54277f 100%);
}

.MonitoringServer-module__progressBarAnim,.MonitoringServer-module__btns {
display:none
}

.MonitoringServer-module__progressBarWrapper {
    background-color: rgb(223 223 223 / 7%);
    border-radius: 20px;
    /* height: 13px; */
    width: 197px;
    margin-left: 13px;
    margin-top: -10px;
}

.MonitoringServer-module__progressInfo {
background-color:#262626;
border:1px solid #f8ae1d;
border-radius:10px
}

.MonitoringServer-module__progressInfo:before {
border-color:#f8ae1d transparent transparent
}

.MonitoringServer-module__wrapper+.MonitoringServer-module__wrapper {
margin-top:10px
}

.MonitoringServer-module__info {
    display: flex;
    margin-top: -26px;
    justify-content: center;
}

.PlayerMenuMobile-module__menu .PlayerMenuMobile-module__header,.PlayerMenuMobile-module__menu .PlayerMenuMobile-module__body {
background-color:#262626
}

.ProductModal-module__dropdown .SelectContent-module__selectorWrapper .dropDownItem:hover,.dropDownItem:focus {
background:linear-gradient(to left,#340d7a 0,#7136aa 100%);
color:#292b2c
}

.ProductModal-module__dropdown .SelectContent-module__selectorWrapper .dropDownList {
background:#2f2f2f;
border:1px solid #535353;
border-radius:15px
}

.ProductModal-module__dropdown .dropDownCurrentItem {
background-color:rgba(255,255,255,.04);
border-radius:15px;
outline:none
}

.ProductModal-module__dropdown .dropDownCurrentItem:hover,.dropDownCurrentItem:focus {
outline:none
}

.VK {
background-color:#5181b8;
transition:all .2s
}

.VK:hover {
background-color:#5b88bd;
transform:scale(1.13)
}

.Widgets-module__widgetWrapper .boxFooter {
display:none
}

.boxHeader.Shop-module__header,.boxHeader.MonitoringWidget-module__header {
display:none
}

.fa-vk:before {
content:"\f189"
}

.menu-discord {
background-color:#7289da;
border-radius:10px;
color:#fff;
margin:10px;
padding:.5rem;
transition:all .1s
}

.menu-vk {
background-color:#5181b8;
border-radius:10px;
color:#fff;
margin:-10px;
padding:.5rem;
transition:all .1s
}

.xbox {
background:rgba(19,29,13,0);
border-radius:8px;
box-shadow:0 1px 1px transparent;
margin-bottom:0
}

.xbox {
background:rgba(212,186,173,0);
color:#fff
}

.xbox.xbox_monitoring6 {
background:#49494936;
border-radius:10px;
margin-top:8px
}

.xbox_monitoring6 {
background:#282828de;
border-radius:25px;
margin-bottom:10px;
padding:15px;
padding-bottom:5px;
padding-left:23px;
padding-right:23px;
padding-top:5px
}

.PlayerBalanceModal-module__footer .Button-module__accent {
	background-color: #340d7a;
    border-color: #340d7a;
    color: #383838;
    transition: all .3s ease;
}

.PlayerBalanceModal-module__footer .Button-module__accent:hover, .Button-module__accent:focus {
    background: #212121!important;
  	color: #fff!important;
    border-color: #212121!important;
    border-radius: 10px!important;
}

.bpBgModalImg {
    background: url(https://pic.moscow.ovh/images/2020/04/21/c378a8bf01e764c4c4b7b4d647463c00.png);
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat
}

@media (min-width: 1200px) {
    .container {
        width:1300px
    }
}

.divInfo {
    color: rgba(255,255,255,.3);
    text-align: center;
    font-size: 13px;
    padding: 16px;
}
.boxBody {
    background: #22005fab;
}

.ProductModal-module__dropdown {
    width: 750px;
}
.Selector-module__dropDownItem:hover, .Selector-module__dropDownItem:focus, .Selector-module__dropDownItem.Selector-module__active {
    background-color: rgb(255 255 255 / 18%);
}



iframe {
    border-radius: 10px;
}

.MonitoringWidget-module__body {
    /* background: url(https://stalkerportaal.ru/data/img/body/pda-g/pda_1.webp) top,url(https://stalkerportaal.ru/data/img/body/pda-g/pda_2.webp) bottom; */
    /* background: url(https://i.imgur.com/eIOxlpC.png) top,url(https://i.imgur.com/c5qIqOe.png) bottom; */
    /* background-color: #ff000063; */
    /* box-shadow: 0 0 4px 5px #ff0000; */
    background: url(https://i.ibb.co/ZdpDVnh/image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 20px;
    min-height: 480px;
    box-shadow: 0 0 black;
    margin-top: -1px;
    margin-bottom: 1px;
    POSITION: static;
}
.Product-module__img {
   aspect-ratio: 0/1;
    width: 111%;
    margin-left: -6px;
    margin-top: -6px;
    margin-bottom: -10px;
}
.boxBody:last-child {
    box-shadow: inset 0 0 350px #000000;
    background: url(https://i.imgur.com/CMJaKd6.png), url(https://i.imgur.com/qQj7xqE.png);
    background-color: #472a76;
}
.Page-module__header {
    background: #22005fcf;
    border-radius: 20px 20px 0 0;
}


/*-------------------виджет-----------------*/

.Widgets-module__widgetWrapper+.Widgets-module__widgetWrapper {
    margin-top: -30px;
}


.Banans {
    padding: 15px;
   /* background: url(https://i.imgur.com/xiLzIPX.jpg);*/
}
.Banan {
    padding: 36px;
	/*background: url(https://hubstalker.at.ua/_ld/2/72574803.png);*/
    background-size: 100%;
    margin: -19px;
    border-radius: 10px;
}
.xbox.xbox_social .vk {
background-image : url(https://i.imgur.com/DSLdu72.png);
      transition: 0.5s; /* Время эффекта */
  display: block;
}

.xbox.xbox_social .vk:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  box-shadow: 0 0 20px #b14bff;
}

.xbox.xbox_social .discord {
background-image : url(https://i.imgur.com/i5VV53z.png);
    transition: 0.5s; /* Время эффекта */
  display: block;
}
.xbox.xbox_social .discord:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  box-shadow: 0 0 20px #b14bff;
}

.xbox.xbox_social .banlist {
background-image : url(https://i.imgur.com/UYc16Dg.png);
} 
  .xbox.xbox_social .steam {
background-image : url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1024px-Steam_icon_logo.svg.png);
}
.xbox__body {
    background: rgba(48, 48, 48, 0);
    padding: 6px;
}

.xbox.xbox_social {
    background: 0 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    margin-left: -29px;
    margin-top: -212px;
    margin-bottom: 52px;
    margin-right: -43px;
    justify-content: center;
}

.xbox.xbox_social a {
    background-color: rgb(0, 0, 0, 0.19);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    flex-basis: 20%;
    height: 50px;
    transition: all 0.3s;
    margin: 5px;
}

   .boxBody2 {
    background: #262626;
     box-shadow: 0 0 100px #5719c9;
     border-radius: 50px 50px 0 0;
}

    .boxFooter2 {
    background: #262626;
    margin-top: -16px;
    border-radius: 0 0 50px 50px;
}
.close2 {
    display: inline-block;
    padding: 2px 12px;
    margin: 10px;
    background: #3c3c3c;
    font-size: 16pt;
    border-radius: 50px;
}
.close2:hover {
    background: #2f2d2d;
}
.glass{
  width: 16px; 
}
.glass:hover {
  box-shadow: 0 0 12px #a32dff;
}

/*------------------------------------------*/


/*//////////////////////////Адаптация сайта/////////////////////////*/
@media (min-width: 768px){

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
}

@media (max-width: 768px){
.swiper-container {
    display: none;
}
}

.kit-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.kit-item {
    margin: 4px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s;
    background: linear-gradient(40deg, #646464, #787878, #3e3e3e, #444444);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 95%);
    width: 80px;
    height: 80px;
}
.wipe-item {
    margin: 4px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s;
    background-size: 400% 400%;
    /* animation: gradient 5s ease infinite; */
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 95%);
    width: 80px;
    height: 80px;
    background: url(https://gspics.org/images/2023/11/19/07ARoK.png);
    background-size: 100%;
}
.wipe-item:hover {
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(1.1);
}

.kit-item:hover {
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(1.1);
}


.wipeblock-item {
    border-radius: 6px;
    font-size: 14px;
    /*background: linear-gradient(115deg, #3e3e3e, #444444, #6b00bda3, #340a6f9c);*/
    background-size: 400% 400%;
    animation: gradient 4s cubic-bezier(0.25, 0.1, 0.26, 0.97) infinite;
    color: #fff;
    width: 30px;
    transform: translate(40px, -75px);
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 65%);
    margin-left: 13px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
}
.wipeblock-item2 {
    border-radius: 6px;
    font-size: 14px;
    background: linear-gradient(115deg, #3e3e3e, #444444, #6b00bda3, #340a6f9c);
    background-size: 400% 400%;
    animation: gradient 4s cubic-bezier(0.25, 0.1, 0.26, 0.97) infinite;
    color: #fff;
    width: 30px;
    transform: translate(40px, -75px);
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 65%);
    margin-left: 13px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
}
.productModalProductAvailability
{
order: 4;
}
